*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    --inputBorder: hsl(210, 10%, 80%);
    --alertColor: black;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-left: 10px solid hsl(220, 50%, 50%);
    box-shadow: 0 0 10px 5px hsla(0, 0%, 0%, .2);
}

.container__form {
    padding: 20px;
}

.container__form__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.container__form__label {
    display: block;
    margin-bottom: 5px;
}

.container__form__input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 2px solid var(--inputBorder);
}

.container__form__input:focus {
    border: 2px solid hsl(220, 50%, 50%);
    outline: none;
}

.container__form__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.container__form__button {
    padding: 10px 30px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: white;
    cursor: pointer;
    transition: 200ms ease-out;
}

.container__form__button:focus {
    outline: none;
    border: 1px solid hsl(220, 50%, 50%);
}

.container__form__reset {
    border: 1px solid hsl(210, 10%, 80%);
}

.container__form__reset:hover {
    border: 1px solid hsl(220, 50%, 50%);
}

.container__form__submit {
    color: white;
    background-color: hsl(220, 90%, 60%);
    border: none;
}

.container__form__submit:hover {
    background-color: hsl(220, 70%, 50%);
}

.container__form__alert {
    color: var(--alertColor);
}

.hidden {
    display: none;
}